*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: darkgray;
    

    
}

.nav-bar{
    display: flex ;
    padding: 40px 120px;
    
}

.nav-links{
    flex: 1;
}

.nav-links ul{
    margin-left: 40px;
    display: inline;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}

.nav-links ul a{
    color: orangered;
    text-decoration: none;
    font-size: 13px;
    float: right;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 2s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.banner-title{
    margin: auto; 
    color: white;
    display: flex;
    width: 90%;
    height: 100%;
     
}

.banner-titl h1{
    font-size: 80px;

}
.banner-title h3{
    font-size: 15px;
}
span{
    color: orangered;
}

.banner-title P{
    font-size: 15px;
    color: orangered;
    margin: 50px 0;
}


.horizontal-bar{
    height: 100%;
    left: 0;
    position: absolute;
    
}

.social-icon{
    width: 200px;
    text-align: center;
    padding-top: 30%;
    bottom: 0;
    position: relative; 


}

.social-icon .fa{
    margin-left: 10px;
    display: inline-block;
    padding: 8px;
    cursor: pointer;
    border: 3px solid orangered;
    border-radius: 50%;

    
    
    
}





















































 